/* Dimentions */
$min-width: 1024px;

/* Colors */
$primary: #5984f2;
$hawkes-blue: #d9e2fd;
$selago: #f5f8fe;
$san-marino: #4859b3;
$wild-blue-yonder: #7779b9;
$cornflower-blue: #5a6faf;
$malibu: #87b7ff;
$error-text: #ff5252;
$algae-green: #8edebd;
$geraldine: #fa8593;
$macaroni-and-cheese: #fbb677;
$early-dawn: #fff9ea;
$fair-pink: #ffeaea;
$zumthor: #ecf3ff;
$hint-of-green: #ecffeb;

/* Shades of grey */
$white: #ffffff;
$gallery: #f0f0f0;
$mercury: #e5e5e5;
$silver: #bcbcbc;
$grey: #828282;
$mine-shaft: #333333;
$black: #000000;

$cornflower-blue-15: rgba(109, 148, 244, 0.15);
$cornflower-blue-10: rgba(109, 148, 244, 0.1);
$cornflower-blue-7: rgba(109, 148, 244, 0.07);
$polo-blue-25: rgba(154, 171, 214, 0.25);
$dialog-backdrop: rgba(90, 111, 175, 0.1);
